@use "../../styles/variables" as *;

.beer-card {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 400px;
  --card-gradient: #dfe7fd, #f0efeb;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  background-image: linear-gradient(
    var(--card-gradient),
    #f0efeb max(9.5rem, 27vh)
  );
  overflow: hidden;

  .beer-card__image {
    max-width: 100px;
    border-radius: 3px;
    height: 15rem;
    margin-top: 10px;
  }

  .beer-card__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .beer-card__name {
      font-size: 1rem;
      font-weight: normal;
    }
  }
}
