.card-container {
  display: grid;
  gap: 2rem;
  justify-items: center;
  position: absolute;
  margin-top: 10rem;
  z-index: 1;
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (min-width: 1700px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
